<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <error-page>
        <error-code>404</error-code>
        <location>/index.jsp</location>
    </error-page>
    <servlet>
        <servlet-name>SitePagesController</servlet-name>
        <servlet-class>controllers.SitePagesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SiteController</servlet-name>
        <servlet-class>controllers.SiteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PerfilController</servlet-name>
        <servlet-class>controllers.PerfilController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContratoController</servlet-name>
        <servlet-class>controllers.ContratoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarPerfilController</servlet-name>
        <servlet-class>controllers.ActualizarPerfilController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarClave</servlet-name>
        <servlet-class>controllers.ActualizarClave</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioController</servlet-name>
        <servlet-class>controllers.UsuarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearUsuarioController</servlet-name>
        <servlet-class>controllers.CrearUsuarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FuncionarioController</servlet-name>
        <servlet-class>controllers.FuncionarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeamController</servlet-name>
        <servlet-class>controllers.TeamController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarUsuarioController</servlet-name>
        <servlet-class>controllers.ActualizarUsuarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HabilitarUsuarioController</servlet-name>
        <servlet-class>controllers.HabilitarUsuarioController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SitePagesController</servlet-name>
        <url-pattern>/sitepages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SiteController</servlet-name>
        <url-pattern>/homepage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PerfilController</servlet-name>
        <url-pattern>/perfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContratoController</servlet-name>
        <url-pattern>/contratos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarPerfilController</servlet-name>
        <url-pattern>/actualizarperfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarClave</servlet-name>
        <url-pattern>/actualizarclave</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioController</servlet-name>
        <url-pattern>/usuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearUsuarioController</servlet-name>
        <url-pattern>/crearusuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FuncionarioController</servlet-name>
        <url-pattern>/funcionarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeamController</servlet-name>
        <url-pattern>/teamcontrollers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarUsuarioController</servlet-name>
        <url-pattern>/actualizarusuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HabilitarUsuarioController</servlet-name>
        <url-pattern>/habilitarusuario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
